<div class="row">
  <div class="col-3">
    <div class="sticky-top">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" [class.active]="!selectedCategory" routerLink="/">
          All Categories
        </a>
        <a *ngFor="let category of categories$ | async" class="list-group-item list-group-item-action" [class.active]="selectedCategory === category.$key"
          routerLink="/" [queryParams]="{category: category.$key}">
          {{ category.name }}
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts; let odd = odd">
        <div class="col">
          <app-product-card [product]="product" [shopping-cart]="cart"></app-product-card>
        </div>
        <div *ngIf="odd" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>